<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Помошник по фильмам</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
<header>
    <nav>
      <a class="active" href="#home">Главная</a>
      <a href="#contact">Контакты</a>
      <a href="#about">О нас</a>
    </nav>
  <form action="//srv-dv-store-l/share/Гостевые файлы/Зеленые овощи/home.html" class="kn" target="_blank">
    <h1 class="m">Фильмы</h1>
  </form>
</header>
<main>
  <hr size=2px width=1918px align="left">
  <hr class="l" size=2px width=1918px align="left">
  <table>
<tr>
  <th>Company</th>
  <th>Q1</th>
  <th>Q2</th>
  <th>Q3</th>
  <th>Q4</th>
  </tr>
 <tr>
  <td>Microsoft</td>
  <td>20.3</td>
  <td>30.5</td>
  <td>23.5</td>
  <td>40.3</td>
 </tr>
<tr>
  <td>Google</td>
  <td>50.2</td>
  <td>40.63</td>
  <td>45.23</td>
  <td>39.3</td>
</tr>
<tr>
  <td>Apple</td>
  <td>25.4</td>
  <td>30.2</td>
  <td>33.3</td>
  <td>36.7</td>
</tr>
<tr>
  <td>IBM</td>
  <td>20.4</td>
  <td>15.6</td>
  <td>22.3</td>
  <td>29.3</td>
</tr>
</table>
  <!--Список!-->
  <section class="container">
  </section>
  <form class="form" name="test" method="post" action="input1.php">
  <p><b>Введите время</b><br>
   <input type="text" size="40">
  </p>
  <p><b>Выберите жанр</b><Br>
   <input type="radio" name="genre" value="drama"> Драма<Br>
   <input type="radio" name="genre" value="triller"> Триллер<Br>
   <input type="radio" name="genre" value="comedy"> Комедия<Br>
   <input type="radio" name="genre" value="adventure"> Приключение<Br>
   <input type="radio" name="genre" value="horror"> Ужасы<Br>
   <input type="radio" name="genre" value="detective"> Детектив<Br>
  </p>
  <p><input type="submit" value="Отправить">
   <input type="reset" value="Очистить"></p>
 </form>

</main>
<footer>


</footer>
</body>
</html>
